<section id="static-gallery">

    <div id="grid-gallery">

        <%
        const timeMap = [
            { start: 6, end: 10, time: "M" },
            { start: 11, end: 15, time: "A" },
            { start: 16, end: 20, time: "E" }
        ];

        function getTimePeriod() {
            const hour = new Date().getHours();

            for (const { start, end, time } of timeMap) {
                if (hour >= start && hour <= end) {
                    return time;
                }
            }

            return "N";
        }

        const period = getTimePeriod();

        let cnt = 0

        for (let imag of locals.images) {
            if (cnt === 10) break;
            if (imag.time && imag.time.includes(period)) {
                cnt ++;
        %>
                <figure>
                    <figcaption><%- imag.title%></figcaption>
                    <source srcset="<%- imag.medium_file  %>" media="screen and (max-width:1000px)" />
                    <img src="<%- imag.file  %>" title="
                    <% if (imag.alt) {%>
                        <%- imag.alt%>
                    <%} else if(imag.title){%>
                        <%- imag.title%>
                    <%}%>
                    " alt="tea">
                </figure>
        <%
            }
        }
        %>

    </div>

</section>